# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/

# VS Code / JetBrains IDEs
.vscode/
.idea/

# Environment variables
.env
*.env

# Python cache
*.pyc
*.pyo
*.pyd
*.db

# Logs
*.log

# Compiled files
*.out
*.o

# Docker
**/data/
**/db_data/
docker-compose.override.yml

# Postgres init dump
init.sql

# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
dist/
build/

# System files
.DS_Store
Thumbs.db

# Python test coverage / test reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.pytest_cache/
