@import "tailwindcss";

:root {
  --background: #f3f4f6; /* Tailwind gray-100 para fundo claro consistente */
  --foreground: #171717;
}

body {
  background: var(--background) !important;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
